node
[{"id":"6427dfe5.e67c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a0a67804.fda898","type":"http in","z":"6427dfe5.e67c4","name":"","url":"banco","method":"post","upload":false,"swaggerDoc":"","x":160.55555725097656,"y":196.00000190734863,"wires":[["e1236f1d.cc739"]]},{"id":"e1236f1d.cc739","type":"function","z":"6427dfe5.e67c4","name":"validation","func":"var status = 0;\nif (msg.payload.Time && \n    msg.payload.Agua && \n    msg.payload.Umidade)\n{\n  status = 1;\n}\nmsg.payload.Temperatura = 0;\n\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":310.5555534362793,"y":246.00000095367432,"wires":[["3a8ecef6.dd6352"]]},{"id":"3a8ecef6.dd6352","type":"switch","z":"6427dfe5.e67c4","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":246,"wires":[["1a4b6b84.b303f4","c444bb5d.3d8948"],["708f02a1.24e05c"]]},{"id":"1a4b6b84.b303f4","type":"http response","z":"6427dfe5.e67c4","name":"OK","statusCode":"200","headers":{},"x":641.6666374206543,"y":90.44445037841797,"wires":[]},{"id":"708f02a1.24e05c","type":"http response","z":"6427dfe5.e67c4","name":"Bad request","statusCode":"400","headers":{},"x":653.8889045715332,"y":312.66665053367615,"wires":[]},{"id":"c444bb5d.3d8948","type":"function","z":"6427dfe5.e67c4","name":"sql insert + ID","func":"msg.topic = \"INSERT INTO Time (tempo) \" + \"VALUES ('\" +msg.payload.Time + \"'); SELECT id FROM Time ORDER BY id DESC LIMIT 1;\"\nmsg.volume = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":226,"wires":[["a3834e2e.edd7b"]]},{"id":"a3834e2e.edd7b","type":"mysql","z":"6427dfe5.e67c4","mydb":"ed07100e.a924c","name":"Mysql - BancoIoT","x":868.3333358764648,"y":169.33333778381348,"wires":[["9aa8a36.e69606"]]},{"id":"9aa8a36.e69606","type":"function","z":"6427dfe5.e67c4","name":"","func":"id = msg.payload[1][0].id\nmsg.topic = \"INSERT INTO Agua (volumeAgua, idTime) \" + \"VALUES ('\" +msg.volume.Agua + \"', '\" + id +\"');\"\nmsg.topic += \"INSERT INTO Temperatura (temperatura, idTime) \" + \"VALUES ('\" +msg.volume.Temperatura + \"', '\" + id +\"');\"\nmsg.topic += \"INSERT INTO Umidade (porcentagemSolo, idTime, porcentagemAr) \" + \"VALUES ('\" +msg.volume.Umidade + \"', '\" + id +\"', '\" + 0 +\"');\"\n\nreturn msg;","outputs":1,"noerr":0,"x":932.2222557067871,"y":93.33334732055664,"wires":[["768249da.4889a8"]]},{"id":"768249da.4889a8","type":"mysql","z":"6427dfe5.e67c4","mydb":"ed07100e.a924c","name":"Mysql - BancoIoT","x":1116.6666259765625,"y":114.44444274902344,"wires":[[]]},{"id":"ed07100e.a924c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"bancoIoT","tz":""}]
